APP_ENV=development

# development = your_dev_host | production = 127.0.0.1
DB_HOST=your_dev_host
DB_PORT=3306
DB_USER=your_db_user
DB_PASS=your_db_pass

CORE_SCHEMA=movira_core_dev
APP_SCHEMA=aluria_dev

JWT_SECRET="your_jwt_secret_here"
